:root{
  --navy: rgb(37, 56, 91);
  --blue: rgba(162, 176, 255, 1);
  --peach: rgb(255, 227, 219);
}

.App {
  text-align: center;
}

*{
  
  
  background: transparent;
  color: white;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-align: center;
  
}
html{
  width: 100vw;
  background-image: url(./Images/dot-grid-png-transparent--2.png);
  background-color: var(--navy);  
}

#headshot {
  border-radius: 50%;
  height: 30vw;
}



