:root{
  --navy: rgb(37, 56, 91);
  --blue: rgba(162, 176, 255, 1);
  --peach: rgb(255, 227, 219);
}

.App {
  text-align: center;
}

*{
  
  background-color: var(--blue);  
  color: var(--navy);
  color: (--navy) ; 
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-align: center;
  
}

#headshot {
  border-radius: 50%;
  height: 30vw;
}



